.cart_outer_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.cart_outer_container img {
  max-width: 200px !important;
  object-fit: contain !important;
}
.cart_outer_container div :not(.subtotal_outer_container) {
  height: auto !important;
}
.cart_inner_container {
  padding: 20px;
}
.cart_inner_container h2,
h3 {
  padding: 10px;
  text-align: center;
}
.cart_inner_container hr {
  margin: 10px;
}

.product_section {
  display: flex;
  gap: 10px;
}
.btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.eachbtn {
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: none;
}
.subtotal_outer_container {
  padding: 20px;

  height: 80%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 244);
}
.subtotal_outer_container a {
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  pad: 5px 10px;
  text-decoration: none;
  color: black;
  background-color: #febd69;
}
.subtotal_outer_container a:hover {
  background-color: #d49644;
}
.subtotal_outer_container > div,
.subtotal_outer_container > span {
  display: flex;
  gap: 20px;
}
.cart_inner_container p {
  word-wrap: break-word;
  overflow: visible;
}
.payment {
  padding: 10px;
  font-size: large;
}




@media screen and (max-width: 968px) {
  .cart_outer_container {
    flex-direction: column;
    order: 1;
    
  }

  .subtotal_outer_container > div,
.subtotal_outer_container > span {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_section 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;



}

.eachbtn {
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
}
.cart_inner_container
{
  margin: 0 auto;
}}
